@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html,
body,
#root,
.App {
  width  : auto;
  height : auto;
  margin : 0;
  padding: 0;
}

.App {
  margin: 5px;
  
  border: 5px ridge lightslategrey;
  font-family: "Montserrat", sans-serif;
  text-align : center;
  display    : flex;
  

  svg {
    height: 100%;
  }
}

.spacer {
  height: 100%;
  
}

.bubble-wrap {
  
  margin        : 0 auto;
  display       : flex;
  flex-direction: column;
}

.colors-wrap {
  border-right: 3px ridge lightslategrey;
  height      : 100%;
  width       : 300px;
  box-shadow  : 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  ul {
    list-style: none;
    text-align: start;

    li {
      cursor         : pointer;
      padding        : 6px 0;
      display        : flex;
      justify-content: space-between;
      width          : 100%;
    }
  }
}

.delete {
  color: darkred;
}

.color-box {
  height      : 16px;
  width       : 16px;
  border      : 1px lightgray solid;
  margin-right: 36px;
}


.loginWin {
  height: 100vh;
  width : 100vw;
  display: flex;
  flex-direction: column;

  h1 {
    padding-top: 15px;
    align-self: center;
  }

  .logon {
    background-color     : rgba(232, 232, 232, 1);
    box-shadow           : 0.2rem 0.2rem 1rem 0.2rem rgba(0, 0, 0, 0.5);
    align-self           : center;
    padding              : 15px;
    border               : 9px ridge lightslategrey;
    border-radius        : 6px;
    margin-top           : 8rem;
    display              : flex;
    flex-direction       : column;
    -webkit-border-radius: 6px;
    -moz-border-radius   : 6px;
    -ms-border-radius    : 6px;
    -o-border-radius     : 6px;
  }

  .auth {
    font-size: 20px;
    font-weight    : bold;
    text-align     : center;
    text-decoration: dotted underline;
    margin-bottom  : 16px;
  }

  label {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: bold;
  }

  .formInput {
    border       : 2px ridge lightslategrey;
    margin-top   : 6px;
    margin-bottom: 5px;
    padding      : 6px;
    width        : auto;
  }

  .loginButton {
    align-self           : center;
    width                : max-content;
    border               : 2px solid lightslategrey;
    border-radius        : 3px;
    margin-top           : 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius   : 3px;
    -ms-border-radius    : 3px;
    -o-border-radius     : 3px;

    .loginButton:hover {
      background-color: lightslategrey;
    }

  }
}

.colorsEdt {
  margin-top    : 20px;
  margin-bottom: 20px;
  display       : flex;
  flex-direction: column;

  legend {
    padding-left   : 40px;
    font-size: 20px;
    font-weight    : bold;
    text-align     : left;
    text-decoration: underline;
    margin-bottom  : 16px;
  }

  label {
    display        : flex;
    justify-content: space-between;
    padding        : 4px 36px 4px 40px;
    font-size: 15px;
    font-weight: bold;
  }

  input {
    width: 100px;
    padding: 3px;
    border: 2px ridge lightslategrey;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

}

.button-row {
  display        : flex;
  justify-content: space-between;
  padding        : 0 36px 0 41px;
  

  button {
    border: 2px ridge lightslategrey;
    border-radius: 3px;
    background-color: white;
    color: black;
    padding: 3px 8px;
    margin-top: 16px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    
  }
}
button:hover {
  background-color: lightslategray;
}
.nav-links {
  border-right   : 3px ridge lightslategrey;
  margin         : 3px;
  padding        : 18px;
  display        : flex;
  flex-direction : column;
  justify-content: space-around;
}

.nav-link {

  text-decoration: none;
  color          : rgba(0, 0, 0, 1);
  font-weight    : bold;
}

.nav-link:hover {
  font-size  : 20px;
  color      : darkred;
  text-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 1);
}